*{
    margin: 0;
    padding: 0;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4,9, 30, 0.7)),url(images/1472024414a6.webp);
    background-position: center;
    background-size: cover;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    height: 100px;
    width: 100px;
} 

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: rgb(237, 244, 236);
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: green;
    display: block;
    margin: auto;
    transition: 0.3s;
}

.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color:#f3f8f3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.text-box h1{
    font-size: 38px;
}

.text-box p{
    color: rgb(211, 210, 195);
    margin:10px 0 40px ;
    font-size:14px ;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px ;
    font-size: 13px;
    position: relative;
    background: transparent;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid green;
    background: green;
    transition: 0.5s;
}


@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
}